
project:
  type: website

website:
  title: "Outfield Catch Probability Analysis"
  navbar:
    left:
      - href: index.qmd
        text: Catch Probability Data Model
      - playermodel.qmd
      - details.qmd
      - about.qmd 

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



